* 
{
  /* border: solid red 1px; */
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  transition-duration: 0.5s;
}

html {
  font-size: 10px;
  background-color: #EDF2C5;
}

.header-body {
  padding: 3.6rem 16rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #778A50;
  font-size: 4.4rem;
  font-weight: 900;
}

header .header-right {
  padding: 1rem;
  display: flex;
  justify-self: center;
  align-items: center;
}

header .header-right img {
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 0 0 1.2rem;
}

/* line : using border to draw a line */
.btn-instagram { 
  padding-right: 1rem;
  border-right: solid 1px #778A50;
}

header .header-right button {
  padding: 0.4rem 0.8rem;
  color: #778A50;
  border: solid #778A50 1px;
  background-color: #EDF2C5;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.7rem 0 1.1rem ;
  transition-duration: 0.5s;
}

nav {
  display: flex;
  justify-content: start;
  background-color: #778A50;
  border-radius: 0.3rem;
  width: 100%;
  min-width: 36rem;
}

nav h2 {
  font-size: 1.6rem;
  color: #EDF2C5;
  margin: 1rem 3rem;font-weight: 900;
}

main img {
  width: 100%;
  height: 100%;
  margin: 1.6rem 0; 
  min-width: 36rem;
}

section {
  margin-bottom: 10rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.2rem;
}

section .vegetables-section {
  padding: 1.6rem 0;
}

section .vegetables-section h2{
  background-color: #778A50;
  color: #EDF2C5;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  margin-bottom: 1.6rem;
}
.img-vegetable{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.6rem;
}
.vegetables-images {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section .contact-section {
  padding: 1.6rem 0;
}

section .contact-section h2 {
  background-color: #778A50;
  color: #EDF2C5;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  margin-bottom: 1.6rem;
}

section .contact-section .contact-text {
  background-color: #F7FBDA;
  padding: 1.6rem;
  min-height: 12.4rem;
}

section .contact-section .contact-text p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7D7D7D;
  padding: 1rem 0;
}

footer {
  background-color: #778A50;
  padding: 2.1rem;
  text-align: center;
  color: #EDF2C5;
  font-size: 1.2rem;
}

.btn-facebook:hover, .btn-instagram:hover, .nav-btn:hover{
  cursor: pointer;
}

header .header-right button:hover {
  cursor: pointer;
  background-color: #778A50;
  color: #EDF2C5;
}